<div class="test">
	<div class="container1 right-panel-active">
		<!-- Sign Up -->
		<div class="container1__form container1--signup">
			<form action="#" class="form" id="form1">
				<h2 class="form__title">Sign Up Client</h2>
				<input type="text" placeholder="Username" class="input" />
				<input type="email" placeholder="Email" class="input" />
				<input type="text" placeholder="Driving License" class="input" />
				<input type="password" placeholder="Password" class="input" />
                <a href="/inscrire-agency" style="color: black;">Sign up agency</a>
				<button class="btn1">Sign Up</button>
			</form>
		</div>
	
		<!-- Overlay -->
		<div class="container1__overlay1">
			<div class="overlay1">
				<div class="overlay1__panel overlay1--left">
					<a href="/login"><button class="btn1" id="signIn" >Sign In</button> </a>
				</div>
				<div class="overlay1__panel overlay1--right">
					<div>
						<button class="btn1" id="signUp">Sign Up</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>