<div class="test">
	<div class="container1 right-panel-active">
	
		<!-- Sign In -->
		<div class="container1__form container1--signin">
			<form action="#" class="form" id="form2">
				<h2 class="form__title">Sign In</h2>
				<input type="text" placeholder="Username" class="input" />
				<input type="password" placeholder="Password" class="input" />
				<a href="#" class="link1">Forgot your password?</a>
				<button class="btn1">Sign In</button>
			</form>
		</div>
	
		<!-- Overlay -->
		<div class="container1__overlay1">
			<div class="overlay1">
				<div class="overlay1__panel overlay1--left">
					<a href="/inscrire-user"><button class="btn1" id="signUp">Sign Up Client</button></a>
                    <ul></ul>
                    <a href="/inscrire-agency"><button class="btn1" id="signUp">Sign Up Agency</button></a>
				</div>
			</div>
		</div>
	</div>
</div>